<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.0" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd">
    <servlet>
        <servlet-name>FirstEnvironmentSetup</servlet-name>
        <servlet-class>db.FirstEnvironmentSetup</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>pullToWeb</servlet-name>
        <servlet-class>dhis2.pullToWeb</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>loadUUID</servlet-name>
        <servlet-class>AjaxClasses.loadUUID</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>savedata</servlet-name>
        <servlet-class>saveData.savedata</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>getverificationdata</servlet-name>
        <servlet-class>loadVerificationData.getverificationdata</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>FirstEnvironmentSetup</servlet-name>
        <url-pattern>/FirstEnvironmentSetup</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>pullToWeb</servlet-name>
        <url-pattern>/pullToWeb</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>loadUUID</servlet-name>
        <url-pattern>/loadUUID</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>savedata</servlet-name>
        <url-pattern>/savedata</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>getverificationdata</servlet-name>
        <url-pattern>/getverificationdata</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
